$listGap: 30px;

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $listGap;
  width: calc(100% - $sidePadding * 2);
  background-color: white;
  padding: $sidePadding;
  @include editSectionBorder(5px, $greyShadow);

  &__title {
    @include editTitle(14px, 18px, normal, $blue);
    text-align: center;
  }
}
